services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - psql-data:/var/lib/postgresql
    ports:
      - "5432:5432"
  adminer:
    image: adminer
    restart: always
    ports:
      - "8088:8080"

volumes:
  psql-data:
    driver: local